.chats {
  max-width: 950px !important;
  overflow-y: scroll !important;
  padding: 8rem !important;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.chats::-webkit-scrollbar {
  display: none;
}
.userDiv {
  display: flex !important;
  justify-content: flex-end !important;
  font-size: 0.9rem !important;
  margin-bottom: 2rem;
}

.gptDiv {
  text-align: left !important;
  font-size: 0.9rem !important;
  line-height: 1.5rem !important;
}

.userMessage {
  background-color: #323232;
  color: white;
  padding: 10px 16px !important;
  border-radius: 16px !important;
  margin-left: 15rem !important;
  max-width: 60% !important;
  width: fit-content !important;
  word-wrap: break-word !important;
  text-align: left !important;
}

/* .gptMessage {
  background-color: #444;
  color: white;
  padding: 10px 16px;
  border-radius: 16px;
  max-width: 100%;
  word-wrap: break-word;
  text-align: left;
} */

.hljs {
  border-radius: 14px !important;
  line-height: 1.5rem !important;
}

pre {
  white-space: pre-wrap !important;
  line-height: 1.5rem !important;
}
